* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

main {
  min-height: 100vh;
}

.main {
  /* background-image: url("src/images/coldbg.png"); */
  background-size: cover;
  background-position: bottom;
  background-color: blue;

}

.main-warm {
  /* background-image: url("src/images/warmbg.png");  */
  background-size: cover;
  background-position: bottom;
}

